{% extends "portal/menu.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">黑名单公司信息查询明细</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户基本信息 Base Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if base_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>变更类型</th>
                                    <th>变更日期</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for base in base_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ base.action }}</td>
                                        <td>{{ base.action_date }}</td>
                                        <td>{{ base.active_status }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.公司信息 -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    公司信息 Company Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if company_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>地址</th>
                                    <th>城市</th>
                                    <th>国家</th>
                                    <th>网址</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for company in company_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ company.addr_line }}</td>
                                        <td>{{ company.addr_city }}</td>
                                        <td>{{ company.addr_cntry }}</td>
                                        <td>{{ company.addr_url }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    国家信息 Country
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if country_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>国家类型</th>
                                    <th>国家代码</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for country in country_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ country.country_type }}</td>
                                        <td>{{ country.country_value }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户描述信息 Description Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if description_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>客户类型1</th>
                                    <th>客户类型2</th>
                                    <th>客户类型3</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for description in description_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% if description.description1 == "1" %}
                                            <td>{{ description.description1 }} - Politically Exposed Person (PEP)</td>
                                        {% elif description.description1 == "2" %}
                                            <td>{{ description.description1 }} - Relative or Close Associate (RCA)</td>
                                        {% elif description.description1 == "3" %}
                                            <td>{{ description.description1 }} - Special Interest Person (SIP)</td>
                                        {% elif description.description1 == "4" %}
                                            <td>{{ description.description1 }} - Special Interest Entity (SIE)</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if description.description2 == "1" %}
                                            <td>{{ description.description2 }} - Sanctions Lists</td>
                                        {% elif description.description2 == "2" %}
                                            <td>{{ description.description2 }} - Other Official Lists</td>
                                        {% elif description.description2 == "3" %}
                                            <td>{{ description.description2 }} - Sanctions Lists</td>
                                        {% elif description.description2 == "4" %}
                                            <td>{{ description.description2 }} - Other Official Lists</td>
                                        {% elif description.description2 == "6" %}
                                            <td>{{ description.description2 }} - Terror</td>
                                        {% elif description.description2 == "7" %}
                                            <td>{{ description.description2 }} - Organised Crime</td>
                                        {% elif description.description2 == "8" %}
                                            <td>{{ description.description2 }} - Financial Crime</td>
                                        {% elif description.description2 == "9" %}
                                            <td>{{ description.description2 }} - Trafficking</td>
                                        {% elif description.description2 == "10" %}
                                            <td>{{ description.description2 }} - Corruption</td>
                                        {% elif description.description2 == "11" %}
                                            <td>{{ description.description2 }} - War Crimes</td>
                                        {% elif description.description2 == "12" %}
                                            <td>{{ description.description2 }} - Terror</td>
                                        {% elif description.description2 == "13" %}
                                            <td>{{ description.description2 }} - Organised Crime</td>
                                        {% elif description.description2 == "14" %}
                                            <td>{{ description.description2 }} - Financial Crime</td>
                                        {% elif description.description2 == "15" %}
                                            <td>{{ description.description2 }} - Trafficking</td>
                                        {% elif description.description2 == "16" %}
                                            <td>{{ description.description2 }} - War Crimes</td>
                                        {% elif description.description2 == "17" %}
                                            <td>{{ description.description2 }} - Corruption</td>
                                        {% elif description.description2 == "20" %}
                                            <td>{{ description.description2 }} - Additional Domestic Screening
                                                Requirement
                                            </td>
                                        {% elif description.description2 == "21" %}
                                            <td>{{ description.description2 }} - Organised Crime Japan</td>
                                        {% elif description.description2 == "22" %}
                                            <td>{{ description.description2 }} - Organised Crime Japan</td>
                                        {% elif description.description2 == "23" %}
                                            <td>{{ description.description2 }} - Enhanced Country Risk</td>
                                        {% elif description.description2 == "24" %}
                                            <td>{{ description.description2 }} - Enhanced Country Risk</td>
                                        {% elif description.description2 == "25" %}
                                            <td>{{ description.description2 }} - Other Exclusion Lists</td>
                                        {% elif description.description2 == "26" %}
                                            <td>{{ description.description2 }} - Other Exclusion Lists</td>
                                        {% elif description.description2 == "31" %}
                                            <td>{{ description.description2 }} - Tax Crime</td>
                                        {% elif description.description2 == "34" %}
                                            <td>{{ description.description2 }} - Sanctions Control and Ownership</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if description.description3 == "1" %}
                                            <td>{{ description.description3 }} - Ship</td>
                                        {% elif description.description3 == "2" %}
                                            <td>{{ description.description3 }} - Company</td>
                                        {% elif description.description3 == "3" %}
                                            <td>{{ description.description3 }} - Bank</td>
                                        {% elif description.description3 == "4" %}
                                            <td>{{ description.description3 }} - Government Entity</td>
                                        {% elif description.description3 == "5" %}
                                            <td>{{ description.description3 }} - State Owned Company</td>
                                        {% elif description.description3 == "6" %}
                                            <td>{{ description.description3 }} - Charity</td>
                                        {% elif description.description3 == "7" %}
                                            <td>{{ description.description3 }} - Criminal/Terrorist</td>
                                        {% elif description.description3 == "8" %}
                                            <td>{{ description.description3 }} - Religious Sect</td>
                                        {% elif description.description3 == "9" %}
                                            <td>{{ description.description3 }} - Country</td>
                                        {% elif description.description3 == "10" %}
                                            <td>{{ description.description3 }} - Ship</td>
                                        {% elif description.description3 == "11" %}
                                            <td>{{ description.description3 }} - Company</td>
                                        {% elif description.description3 == "12" %}
                                            <td>{{ description.description3 }} - Bank</td>
                                        {% elif description.description3 == "13" %}
                                            <td>{{ description.description3 }} - Government Entity</td>
                                        {% elif description.description3 == "14" %}
                                            <td>{{ description.description3 }} - State Owned Company</td>
                                        {% elif description.description3 == "15" %}
                                            <td>{{ description.description3 }} - Charity</td>
                                        {% elif description.description3 == "16" %}
                                            <td>{{ description.description3 }} - Criminal/Terrorist</td>
                                        {% elif description.description3 == "17" %}
                                            <td>{{ description.description3 }} - Religious Sect</td>
                                        {% elif description.description3 == "18" %}
                                            <td>{{ description.description3 }} - Country</td>
                                        {% elif description.description3 == "28" %}
                                            <td>{{ description.description3 }} - Stimulants Control Act Violation</td>
                                        {% elif description.description3 == "29" %}
                                            <td>{{ description.description3 }} - Battery or Assault</td>
                                        {% elif description.description3 == "30" %}
                                            <td>{{ description.description3 }} - Larceny</td>
                                        {% elif description.description3 == "31" %}
                                            <td>{{ description.description3 }} - Robbery</td>
                                        {% elif description.description3 == "32" %}
                                            <td>{{ description.description3 }} - Extortion</td>
                                        {% elif description.description3 == "33" %}
                                            <td>{{ description.description3 }} - Fraud</td>
                                        {% elif description.description3 == "34" %}
                                            <td>{{ description.description3 }} - Gambling</td>
                                        {% elif description.description3 == "35" %}
                                            <td>{{ description.description3 }} - Bookmaking</td>
                                        {% elif description.description3 == "36" %}
                                            <td>{{ description.description3 }} - Intimidation</td>
                                        {% elif description.description3 == "37" %}
                                            <td>{{ description.description3 }} - Prostitution</td>
                                        {% elif description.description3 == "38" %}
                                            <td>{{ description.description3 }} - Possession of gun or knife</td>
                                        {% elif description.description3 == "39" %}
                                            <td>{{ description.description3 }} - Sarin and Similar Substances Act
                                                Violation
                                            </td>
                                        {% elif description.description3 == "40" %}
                                            <td>{{ description.description3 }} - Unfair Competition</td>
                                        {% elif description.description3 == "41" %}
                                            <td>{{ description.description3 }} - Murder or Manslaughter</td>
                                        {% elif description.description3 == "42" %}
                                            <td>{{ description.description3 }} - Illegal arrest and confinement</td>
                                        {% elif description.description3 == "43" %}
                                            <td>{{ description.description3 }} - Kidnapping</td>
                                        {% elif description.description3 == "44" %}
                                            <td>{{ description.description3 }} - Defamation</td>
                                        {% elif description.description3 == "45" %}
                                            <td>{{ description.description3 }} - Business Obstruction</td>
                                        {% elif description.description3 == "46" %}
                                            <td>{{ description.description3 }} - Other</td>
                                        {% elif description.description3 == "47" %}
                                            <td>{{ description.description3 }} - Ship</td>
                                        {% elif description.description3 == "49" %}
                                            <td>{{ description.description3 }} - Aircraft</td>
                                        {% elif description.description3 == "50" %}
                                            <td>{{ description.description3 }} - Aircraft</td>
                                        {% elif description.description3 == "51" %}
                                            <td>{{ description.description3 }} - Aircraft</td>
                                        {% elif description.description3 == "77" %}
                                            <td>{{ description.description3 }} - State Owned Company</td>
                                        {% elif description.description3 == "78" %}
                                            <td>{{ description.description3 }} - Bank</td>
                                        {% elif description.description3 == "79" %}
                                            <td>{{ description.description3 }} - Lower Threshold</td>
                                        {% elif description.description3 == "80" %}
                                            <td>{{ description.description3 }} - Lower Threshold</td>
                                        {% elif description.description3 == "81" %}
                                            <td>{{ description.description3 }} - Lower Threshold</td>
                                        {% elif description.description3 == "82" %}
                                            <td>{{ description.description3 }} - Lower Threshold</td>
                                        {% elif description.description3 == "83" %}
                                            <td>{{ description.description3 }} - Lower Threshold</td>
                                        {% elif description.description3 == "92" %}
                                            <td>{{ description.description3 }} - OFAC Related - Majority Owned</td>
                                        {% elif description.description3 == "93" %}
                                            <td>{{ description.description3 }} - OFAC Related - Minority Owned</td>
                                        {% elif description.description3 == "94" %}
                                            <td>{{ description.description3 }} - OFAC Related - Ownership Unknown</td>
                                        {% elif description.description3 == "95" %}
                                            <td>{{ description.description3 }} - EU Related - Minority Owned</td>
                                        {% elif description.description3 == "96" %}
                                            <td>{{ description.description3 }} - EU Related - Majority Owned</td>
                                        {% elif description.description3 == "97" %}
                                            <td>{{ description.description3 }} - EU Related - Ownership Unknown</td>
                                        {% elif description.description3 == "105" %}
                                            <td>{{ description.description3 }} - Formerly OFAC Related</td>
                                        {% elif description.description3 == "106" %}
                                            <td>{{ description.description3 }} - Formerly EU Related</td>
                                        {% elif description.description3 == "108" %}
                                            <td>{{ description.description3 }} - OFAC - Regional Sanctions Related -
                                                Majority Owned
                                            </td>
                                        {% elif description.description3 == "109" %}
                                            <td>{{ description.description3 }} - OFAC - Regional Sanctions Related -
                                                Minority Owned
                                            </td>
                                        {% elif description.description3 == "110" %}
                                            <td>{{ description.description3 }} - OFAC - Regional Sanctions Related -
                                                Ownership Unknown
                                            </td>
                                        {% elif description.description3 == "111" %}
                                            <td>{{ description.description3 }} - Formerly OFAC Regional Sanctions
                                                Related
                                            </td>
                                        {% elif description.description3 == "112" %}
                                            <td>{{ description.description3 }} - EU - Regional Sanctions Related -
                                                Majority Owned
                                            </td>
                                        {% elif description.description3 == "113" %}
                                            <td>{{ description.description3 }} - EU - Regional Sanctions Related -
                                                Minority Owned
                                            </td>
                                        {% elif description.description3 == "114" %}
                                            <td>{{ description.description3 }} - EU - Regional Sanctions Related -
                                                Ownership Unknown
                                            </td>
                                        {% elif description.description3 == "115" %}
                                            <td>{{ description.description3 }} - Formerly EU Regional Sanctions
                                                Related
                                            </td>
                                        {% elif description.description3 == "116" %}
                                            <td>{{ description.description3 }} - Bank</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    日期信息 Date Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if date_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>日期类型</th>
                                    <th>日</th>
                                    <th>月份</th>
                                    <th>年份</th>
                                    <th>日期描述</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for date in date_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ date.date_type }}</td>
                                        <td>{{ date.day }}</td>
                                        <td>{{ date.month }}</td>
                                        <td>{{ date.year }}</td>
                                        <td>{{ date.dnotes }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    证件信息 Document Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if document_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>证件类型</th>
                                    <th>证件号码</th>
                                    <th>证件描述</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for document in document_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ document.id_type }}</td>
                                        <td>{{ document.id_value }}</td>
                                        <td>{{ document.id_notes }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    公司名称信息 Name Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if name_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>简称</th>
                                    <th>名称类型</th>
                                    <th>公司名称</th>
                                    <th>公司中文名称1</th>
                                    <th>公司中文名称2</th>
                                    <th>公司名称全称</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for name in name_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ name.suffix }}</td>
                                        <td>{{ name.name_type }}</td>
                                        <td>{{ name.entity_name }}</td>
                                        <td>{{ name.original_script_name1 }}</td>
                                        <td>{{ name.original_script_name2 }}</td>
                                        <td>{{ name.single_string_name }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    备注信息 Profile Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if profile_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for profile in profile_detail %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ profile.profile_notes }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    制裁相关信息 Section Reference Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if sr_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>制裁名单</th>
                                    <th>生效日期</th>
                                    <th>失效日期</th>
                                    <th>名单状态</th>
                                    <th>名单描述</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reference in sr_detail %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ reference.reference }}-{{ reference.sr_name }}</td>
                                        <td>{{ reference.since_year }}-{{ reference.since_month }}-{{ reference.since_day }}</td>
                                        <td>{{ reference.to_year }}-{{ reference.to_month }}-{{ reference.to_day }}</td>
                                        <td>{{ reference.sr_status }}</td>

                                        {% if reference.sr_desc2_id == "1" %}
                                            <td>{{ reference.sr_desc2_id }} - Sanctions Lists</td>
                                        {% elif reference.sr_desc2_id == "2" %}
                                            <td>{{ reference.sr_desc2_id }} - Other Official Lists</td>
                                        {% elif reference.sr_desc2_id == "3" %}
                                            <td>{{ reference.sr_desc2_id }} - Sanctions Lists</td>
                                        {% elif reference.sr_desc2_id == "4" %}
                                            <td>{{ reference.sr_desc2_id }} - Other Official Lists</td>
                                        {% elif reference.sr_desc2_id == "6" %}
                                            <td>{{ reference.sr_desc2_id }} - Terror</td>
                                        {% elif reference.sr_desc2_id == "7" %}
                                            <td>{{ reference.sr_desc2_id }} - Organised Crime</td>
                                        {% elif reference.sr_desc2_id == "8" %}
                                            <td>{{ reference.sr_desc2_id }} - Financial Crime</td>
                                        {% elif reference.sr_desc2_id == "9" %}
                                            <td>{{ reference.sr_desc2_id }} - Trafficking</td>
                                        {% elif reference.sr_desc2_id == "10" %}
                                            <td>{{ reference.sr_desc2_id }} - Corruption</td>
                                        {% elif reference.sr_desc2_id == "11" %}
                                            <td>{{ reference.sr_desc2_id }} - War Crimes</td>
                                        {% elif reference.sr_desc2_id == "12" %}
                                            <td>{{ reference.sr_desc2_id }} - Terror</td>
                                        {% elif reference.sr_desc2_id == "13" %}
                                            <td>{{ reference.sr_desc2_id }} - Organised Crime</td>
                                        {% elif reference.sr_desc2_id == "14" %}
                                            <td>{{ reference.sr_desc2_id }} - Financial Crime</td>
                                        {% elif reference.sr_desc2_id == "15" %}
                                            <td>{{ reference.sr_desc2_id }} - Trafficking</td>
                                        {% elif reference.sr_desc2_id == "16" %}
                                            <td>{{ reference.sr_desc2_id }} - War Crimes</td>
                                        {% elif reference.sr_desc2_id == "17" %}
                                            <td>{{ reference.sr_desc2_id }} - Corruption</td>
                                        {% elif reference.sr_desc2_id == "20" %}
                                            <td>{{ reference.sr_desc2_id }} - Additional Domestic Screening
                                                Requirement
                                            </td>
                                        {% elif reference.sr_desc2_id == "21" %}
                                            <td>{{ reference.sr_desc2_id }} - Organised Crime Japan</td>
                                        {% elif reference.sr_desc2_id == "22" %}
                                            <td>{{ reference.sr_desc2_id }} - Organised Crime Japan</td>
                                        {% elif reference.sr_desc2_id == "23" %}
                                            <td>{{ reference.sr_desc2_id }} - Enhanced Country Risk</td>
                                        {% elif reference.sr_desc2_id == "24" %}
                                            <td>{{ reference.sr_desc2_id }} - Enhanced Country Risk</td>
                                        {% elif reference.sr_desc2_id == "25" %}
                                            <td>{{ reference.sr_desc2_id }} - Other Exclusion Lists</td>
                                        {% elif reference.sr_desc2_id == "26" %}
                                            <td>{{ reference.sr_desc2_id }} - Other Exclusion Lists</td>
                                        {% elif reference.sr_desc2_id == "31" %}
                                            <td>{{ reference.sr_desc2_id }} - Tax Crime</td>
                                        {% elif reference.sr_desc2_id == "34" %}
                                            <td>{{ reference.sr_desc2_id }} - Sanctions Control and Ownership</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}


                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    介绍信息 Source Information
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="table-responsive">
                        {% if source_detail %}
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>资源网址</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for source in source_detail %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{{ source.source_name }}">{{ source.source_name }}</a></td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>No records are available.</p>
                        {% endif %}
                    </div>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body description-->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}